@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.App {
  text-align: center;
}

.card-body-stars {
  list-style-type: none;
  display: flex;
}
#root {
  width: 400px;
  border: 1px solid rgba(243, 201, 201, 0.5);
}
